## Chapter 7
#### 7.1 : Handling Missing Data
#### 7.2 : Data Transformation
#### 7.3 : String Manipulation

### 7.1 : Handling Missing Data

- Filtering Out Missing Data
> 1. isnull
> 2. notnull
> 3. dropna
- Filling In Missing Data
> 1. fillna

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Filtering Out Missing Data:

In [ ]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, None])

In [ ]:
string_data.isnull()

In [ ]:
string_data[string_data.isnull()]

In [ ]:
string_data

In [ ]:
string_data.notnull()

In [ ]:
string_data[string_data.notnull()]

In [ ]:
data = pd.Series([1, np.nan, 3.5, np.nan, 7])

In [ ]:
data

In [ ]:
data.dropna()

In [ ]:
data

In [ ]:
data.dropna(inplace=True)

In [ ]:
data

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],[np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])

In [ ]:
data.dropna()

In [ ]:
data.dropna(axis=1)

In [ ]:
data.dropna(axis=1,how='all')

In [ ]:
#Filling In Missing Data

In [ ]:
df = pd.DataFrame(np.random.randn(7, 3))

In [ ]:
df.iloc[:4, 1] = np.nan

In [ ]:
df.iloc[:2, 2] = np.nan

In [ ]:
df

In [ ]:
df.fillna(0)

In [ ]:
df.fillna({1:0.5,2:0.7})


### 7.2 : Data Transformation

- Removing Duplicated
> 1. duplicated
> 2. drop_duplicated
- Transforming Data Using a Function or Mapping
> 1. map
- Replacing Values
> 1. replace
- Renaming Axis Indexes
> 1. rename
- Discretization And Binning
> 1. cut
- Detecting And Filtering Outliers

In [ ]:
# Removing Duplicated

In [ ]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],'k2': [1, 1, 2, 3, 3, 4, 4]})

In [ ]:
data

In [ ]:
data.duplicated()

In [ ]:
data.drop_duplicates()

In [ ]:
data['v1'] = range(7)

In [ ]:
data

In [ ]:
data.drop_duplicates(['k1'])

In [ ]:
data.drop_duplicates(['k1', 'k2'], keep='last')

In [ ]:
#Transforming Data Using A Function Or Mapping

In [ ]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon','Pastrami', 'corned beef', 'Bacon','pastrami', 'honey ham', 'nova lox'],'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [ ]:
data

In [ ]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

In [ ]:
lowercased = data['food'].str.lower()

In [ ]:
data['animal'] = lowercased.map(meat_to_animal)

In [ ]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

In [ ]:
#Replacing Values

In [ ]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])

In [ ]:
data.replace(-999, np.nan)

In [ ]:
data.replace([-999, -1000], np.nan)

In [ ]:
data.replace([-999, -1000], [np.nan, 0])

In [ ]:
data.replace({-999: np.nan, -1000: 0})

In [ ]:
#Discretization and Binning

In [ ]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [ ]:
bins = [18, 25, 35, 60, 100]

In [ ]:
cats = pd.cut(ages, bins)

In [ ]:
cats

In [ ]:
cats.codes

In [ ]:
cats.categories

In [ ]:
pd.value_counts(cats)

In [ ]:
#Detecting and Filtering Outliers

In [ ]:
data = pd.DataFrame(np.random.randn(1000, 4))

In [ ]:
data.describe()

In [ ]:
col = data[2]

In [ ]:
col[np.abs(col) > 3]

In [ ]:
data[(np.abs(data) > 3).any(1)]

In [ ]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [ ]:
data.describe()



### 7.3 : String Manipulation

- Regular Expressions
> 1. regex

In [ ]:
#Regular Expressions

In [ ]:
import re
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [ ]:
# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

In [ ]:
regex

In [ ]:
regex.findall(text)